* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home {
  background-image: url(slider-01.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  overflow: auto;
  font-family: system-ui;
}
.homecontent {
  text-align: center;
  position: absolute;
  top: 38%;
  left: 36%;
}
h1 {
  color: #ff305b;
  margin: 5px 0;
  font-size: 60px;
}
.homecontent .hell {
  color: white;
  font-weight: 600;
  font-size: 22px;
}

.prof {
  color: white;
  font-size: 25px;
  font-weight: 300;
}

.cover {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav {
  width: 85%;
  position: absolute;
  left: 7%;
}

.logo {
  float: left;
  font-size: 22px;
  font-weight: bolder;
  padding: 10px 0;
}
.link {
  float: right;
  font-size: 15px;
}

.logo a {
  color: #ff305b;
}
ul {
  list-style: none;
}
.link li {
  float: left;
  margin-right: 15px;
  padding: 15px 0;
  letter-spacing: 0.5px;
}

.link a:hover {
  color: #ff305b;
}

a {
  text-decoration: none;
  color: white;
}

.clr {
  clear: both;
}

.about {
  width: 80%;
  background-color: white;
  padding: 100px 0 120px;
  margin: auto;
}
.photo {
  float: left;
  width: 33%;
  border: 8px solid #555555;
  border-radius: 7px;
}
.photo img {
  width: 108%;
  border-radius: 7px;
}
.test {
  position: relative;
  top: 20px;
  left: 20px;
  overflow: hidden;
  border-radius: 7px;
}
.try {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(100%);
  transition: 0.7s transform;
  transform-origin: bottom;
}
.test:hover .try {
  transform: translate(0);
}

.try i:hover {
  color: #ff305b;
}

.try ul {
  position: absolute;
  top: 45%;
  left: 30%;
}
.try li {
  display: inline-block;
}

.try i {
  padding: 10px;
  color: white;
}

.info {
  float: right;
  width: 60%;
  word-spacing: 1;
  letter-spacing: 2px;
}
.info table {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: system-ui;
}
.info td {
  padding: 10px;
  color: #555555;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 25px;
}
.info th {
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
}

.info p {
  padding: 10px;
  border-bottom: 0.5px dashed black;
  word-spacing: 2px;
  color: #333333;
}
.info h3 {
  color: #333333;
  font-size: 33px;
  font-weight: 600;
  line-height: 10px;
  margin-bottom: 25px;
  padding-left: 15px;
}
.h3info {
  position: relative;
}
.h3info::before {
  content: "";
  position: absolute;
  height: 23px;
  width: 4px;
  background-color: #ff305b;
  top: -7px;
  left: -2px;
}
/* .h3info .pipe{
  position: absolute;
  height: 23px;
  width: 4px;
  background-color: #ff305b;
  top: -6px;
  left: -2px;

} */

.info button {
  padding: 15px 40px;
  border: none;
  background-color: #ff305b;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
}
.info i {
  color: white;
  padding: 3px;
}

.info button:hover {
  background-color: #ec2403;
}

.service {
  text-align: center;
  width: 100%;
  padding: 100px 0 54px;
  margin: auto;
  background-color: #f1f1f1;
}

.fline h2 {
  font-size: 40px;
  color: #333333;
}

.Underline {
  padding: 15px;
  width: 100%;
  margin: auto;
}
.Underline .uline {
  margin: auto;
  height: 1px;
  width: 6%;
  margin-bottom: 4px;
  background-color: #ff305b;
}
.Underline .uline2 {
  width: 14%;
}

.container {
  width: 80%;
  margin: auto;
}
.serv {
  width: 25%;
  float: left;
  text-align: center;
  padding: 10px;
}
.serv:hover {
  background-color: white;
  box-shadow: 2px 2px 10px 5px #ddd;
}
.inn {
  padding: 50px 12px;
  perspective: 100px;
}

.inn i {
  color: #ff305b;
  padding: 20px 10px;
  font-size: 25px;
  transform: translateZ(0px);
  transition: 0.5s transform;
}

.serv:hover i {
  transform: translateZ(15px);
}

.inn h3 {
  color: #333333;
  font-size: 22px;
  margin-bottom: 15px;
}
.inn p {
  color: #555555;
}

.portfolio {
  width: 100%;
  padding: 100px 0 70px;
}

.title2 {
  width: 25%;
  margin: auto;
  padding: 15px;
}
.title2 h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 10px;
  color: #333333;
}
.Underlinep {
  padding: 15px;
  width: 100%;
  margin: auto;
  position: relative;
  right: 35px;
  bottom: 13px;
}
.Underlinep .ulinep {
  margin: auto;
  height: 1px;
  width: 6%;
  margin-bottom: 4px;
  background-color: #ff305b;
}
.Underlinep .uline2p {
  width: 14%;
}

.allg {
  width: 43%;
  margin: auto;
  margin-bottom: 30px;
}
.allg ul {
  list-style: none;
}
.allg li {
  float: left;
  margin-right: 10px;
  padding: 15px 10px;
  letter-spacing: 0.5px;
  font-size: 20px;
}
.allg a {
  color: #333333;
}
.goods {
  width: 85%;
  margin: auto;
}
.ware {
  width: 31%;
  margin: 10px 10px;
  float: left;
  position: relative;
}
.ware img {
  width: 100%;
}
.shadow {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s opacity;
}
.ware:hover .shadow {
  opacity: 1;
  cursor: pointer;
}

.count {
  width: 100%;
  padding: 100px 0;
  background: #f1f1f1;
}
.countcontain {
  width: 90%;
  margin: auto;
  text-align: center;
}
.countinn {
  width: 25%;
  float: left;
}
.countinn i {
  color: #ff305b;
  font-size: 26px;
  margin-bottom: 15px;
}
.countinn h3 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 8px;
}
.countinn p {
  color: #555555;
  font-size: 17px;
}

.feed {
  overflow: hidden;
  padding: 100px 0;
  width: 100%;
}
.feedcont {
  width: 50%;
  margin: auto;
  background-color: #f1f1f1;
  padding: 40px;
}
.feedtitle {
  width: 100%;
  text-align: center;
}
.feedtitle h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
  padding-bottom: 10px;
  color: #333333;
}
.face {
  width: 100%;
  position: relative;
}

.prophoto {
  float: left;
  width: 18%;
  position: absolute;
}
.prophoto img {
  width: 100%;
  border-radius: 50%;
}
.procontent {
  float: right;
  width: 80%;
}
.procontent h3 {
  font-size: 26px;
  margin-bottom: 10px;
}
.procontent h6,
p,
i {
  color: #555555;
}
.procontent i {
  font-size: 13px;
  padding: 2px 2px;
}
.procontent h6 {
  font-size: 18px;
  padding-bottom: 10px;
}
.procontent p {
  line-height: 1.3;
  padding-bottom: 5px;
}
.face .triangle {
  width: 0;
  height: 0;
  border-top: 170px solid #ff305b;
  border-right: 170px solid transparent;
  position: absolute;
  top: -40px;
  left: -40px;
}
.blog {
  padding: 100px 0 70px;
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
}
.blog h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 10px;
  color: #333333;
}
.blogbox {
  width: 90%;
  margin: auto;
}
.blogcontent {
  width: 33.3%;
  float: left;
  padding: 15px;
}
.bloginside {
  background-color: white;
  text-align: left;
}
.bloginside img {
  width: 100%;
}
.bloginside a {
  color: #333333;
}
.bloginside a:hover {
  color: #ff305b;
}
.bloginside a:hover i {
  color: #ff305b;
}
.bloginside h6 {
  padding: 15px;
  font-size: 19px;
  color: #555555;
}
.bloginside h3 {
  padding: 12px;
  margin-bottom: 10px;
  font-size: 25px;
  color: #333333;
}
.bloginside p {
  margin-bottom: 15px;
  color: #555555;
  line-height: 1.5;
  font-size: 17px;
  padding-left: 14px;
}
.readm {
  padding: 20px 13px;
  font-size: 18px;
}
.readm i {
  font-size: 15px;
}

.contactus {
  padding: 100px 0;
  text-align: center;
}
.contacttitle h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 10px;
  color: #333333;
}
.contactcontainer {
  width: 100%;
  margin: auto;
}
.details {
  width: 60%;
  margin: auto;
  text-align: left;
}

.finput {
  width: 50%;
  float: left;
}
.consub {
  padding: 10px;
}
.sub {
  width: 96%;
  padding: 13px;
  margin-bottom: 8px;
}

.sinput {
  width: 50%;
  float: right;
}
.inp {
  width: 91%;
  padding: 13px;
  margin-bottom: 8px;
}
.nameemail {
  padding: 10px;
}
textarea {
  width: 96%;
  padding: 13px;
  margin-bottom: 8px;
}
input,
textarea {
  border: 1px solid #cccccc;
}
input:hover,
textarea:hover {
  border-color: #ff305b;
}
label {
  color: #cd8854;
  font-size: 18px;
}
.btt0 {
  background-color: #ff305b;
  border: none;
  padding: 13px 20px;
  color: white;
  margin-top: 13px;
  border-radius: 4px;
}
.btt0:hover {
  background-color: #ec2403;
  cursor: not-allowed;
}

.footer {
  padding: 50px 0;
  text-align: center;
  background-color: #333333;
  width: 100%;
}
.footinn li {
  display: inline-block;
}
.footinn i {
  padding: 10px;
  color: white;
}
.footinn i:hover {
  color: #ff305b;
}
.footinn p {
  color: white;
  font-size: 20px;
  margin-top: 6px;
}
.footinn a {
  color: #ff305b;
}
.foota a:hover {
  border-bottom: 1px solid #ff305b;
}
@media screen and (max-width: 600px) {
  .countinn {
    width: 100%;
  }
  .serv {
    width: 100%;
  }
  .ware {
    width: 100%;
  }
  .blogcontent {
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 997px) {
  .countinn {
    width: 50%;
  }
  .serv {
    width: 50%;
  }
  .ware {
    width: 35%;
  }
  .blogcontent {
    width: 35%;
  }
}
@media screen and (min-width: 997px) and (max-width: 1250px) {
  .countinn {
    width: 33%;
  }
  .serv {
    width: 33%;
  }
  .ware {
    width: 30%;
  }
  .blogcontent {
    width: 30%;
  }
}
